@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme inline {
  --color-primary: #2c5f8d;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* Note: sidebar scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f5f9;
  /* light gray */
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #2c5f8d;
  /* blue */
  border-radius: 6px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #2d70aa;
}

/* Note: auth divider */
.ant-divider-inner-text {
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #525252 !important;
}

/* Note: custom steps progressbar */
.custom-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #3e6288;
  border-color: #3e6288;
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #3e6288;
  border-color: #3e6288;
}

.custom-steps .ant-steps-item-title {
  font-weight: 500;
}

/* Note: custom select */
.ant-select.ant-select-outlined:not(.ant-select-disabled).ant-select-focused {
  box-shadow: none !important;
  border: none;
}


/* Note: react-flow attribution */
.react-flow__attribution a {
    display: none;
}