@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme inline {
  --color-primary: #2c5f8d;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: "Inter", sans-serif;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 6px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f5f9; /* light gray */
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color:  #2c5f8d; /* blue */
  border-radius: 6px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color:  #2d70aa;
}